.input_constraints {
  color: #c43131;
  font-size: 0.8em;
  margin-bottom: 6px;
  text-align: center;
}

.color {
  color: red;
}

.signup_container {
  @include center(row);
  height: 100vh;
}
.signup_content {
  @include flex-direction-column;
  width: 26vw;
}

.signup_title {
  @include title;
}
.signup_input_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup_input {
  @include default-input(6px, 2px);
  margin-bottom: 4px;
  height: 2em;
}
.signup_phone_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup_phone_label {
  color: $primary-color;

  input[type='checkbox'] {
    filter: hue-rotate(-0.92turn) saturate(1);
  }
}
.signup_phone {
  width: 82%;
}

// input type이 number일때, 사이드에 있는 화살표 버튼 제거
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.signup_btn-signup {
  @include default-button(1.1rem);
  margin-top: 20px;
  padding: 10px 0;
}
