@import './utils.scss';

.signup_content {
  span {
    color: $lightColor;
  }
}
.signup_container {
  @include center(row);
  height: 100vh;
}
.signup_content {
  display: flex;
  flex-direction: column;
  width: 26vw;
}
.signup_title {
  @include title;
}

.signup_input {
  @include inputBox(8);
}
.signup_phoneNum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup_input_phoneNum {
  @include inputBox(8);
  width: 26%;
  height: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.signup_btn-signup {
  @include button;
  margin-top: 20px;
  font-size: large;
}
.signup_btn-signup:hover {
  @include buttonHover;
}
