@mixin default-grid {
  display: grid;
  grid-template-rows: 60px 3fr;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 1px;
  background-color: $background-color;
  height: 100%;
  width: 100%;
  position: absolute;

  .nav {
    @include nav;

    .nav_ul {
      @include nav-ul;

      .nav_li {
        @include flex-direction-column;
        align-items: flex-end;

        .nav_link {
          @include nav-link;
        }
      }
    }
  }

  .header {
    @include header;
  }

  .grid_empty {
    background-color: white;
    grid-column: 3;
    grid-row: 1/4;
  }
}
