@mixin default-input($margin-top, $radius) {
  margin-top: $margin-top;
  height: 1.8rem;
  font-size: 1.1rem;
  border: {
    radius: $radius;
    color: $cool-grey;
    width: 1px;
    style: solid;
  }
}
