@mixin nav-ul {
  list-style: none;
  padding: 0;
}

@mixin nav-link {
  width: 36%;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: $background-color;
    border-radius: 20px;
  }
}
